<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

    
  
    

    <style type="text/css">
    html, body{
      font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    }

    .btn {
      border-radius: 1px;
    }


      .jumbotron {
        background-color:white;
      }

      .public {
        background-color:white;
        padding: 0rem 2rem;
        margin-top: -1px;
      }



      #floating_alert {
        position: fixed;
        width:100%;
        top: 50px;
        z-index: 5000;
      }

      .alert {
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 0px;
      }


    </style>

    {% block extra_head %}
    {% endblock %}

  </head>

  <body>

  
    {% block messages %}
      {% if messages %}
      <div id="floating_alert">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" data-alert="alert">  <!-- singular -->
            <div class="container">
              <a class="close" data-dismiss="alert">×</a>
              {{ message|safe }} 
            </div>     
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

      <div class="container">
      <a class="navbar-brand" href="/">ANTS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'waliki_home' %}">Root <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        </ul>
        <!-- <form class="form-inline  mr-auto">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav navbar-right">
          {% block navbar-right %}
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me</a>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdown01">
              {% if request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'profiles:show_self' %}">me</a>
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
          </li>
          {% else %}
          <li>
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>
          {% endif %}
          {% endblock %}
        </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

<!--     <div id="floating_alert">
          <div class="alert alert-danger" data-alert="alert">
            <div class="container">
            <a class="close" data-dismiss="alert">×</a>
            hello  
            </div>    
          </div>
          <div class="alert alert-danger" data-alert="alert">
            <div class="container">
            <a class="close" data-dismiss="alert">×</a>
            hello  
            </div>    
          </div>
      </div> -->


    {% block body %}
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          {% block header %}
            <!-- Row -->
          <div class="row">
            <div class="col-3">  
              {% if pages|length > 0 %}
                {% for page in pages %}
                  {% if not "/" in page.slug %}
                    {% if "root" in page.slug %}
                      <a href="{{ page.slug }}" class="btn btn-success btn-sm">{{ page.slug }}</a>
                    {% else %}
                      {% if "ants" in page.slug %}
                      <a href="{{ page.slug }}" class="btn btn-danger btn-lg">{{ page.slug }}</a>
                      {% else %}
                        {% if "computer" in page.slug %}
                        <a href="{{ page.slug }}" class="btn btn-warning btn-lg">{{ page.slug }}</a>
                        {% else %}
                        <a href="{{ page.slug }}" class="btn btn-info">{{ page.slug }}</a>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="col-6">
              <h1 class="display-5">Hi, {% if request.user.is_authenticated %}{{ request.user.name }}{% else %}anonymous user{% endif %}.</h1>
              
              
              {% if request.user.is_authenticated %}
                <span style="padding-bottom: 20px;font-size: large;">
                <ul class="list-group">
                  <li class="list-group-item"><a href="{{ request.user.name }}">/{{ request.user.name }}</a></li>
                  {% for project in projects %}
                    {% if project.creator = request.user %}
                      <li class="list-group-item"><a href="w/{{ project.slug }}">/{{ project.slug }} - {{ project.creator.name }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
                </span>
               {% else %}
                <span style="font-size: large;">
                <p>There are currently {{ pages|length }} public, and {{ projects.count }} private page{{ projects|pluralize }}. <br>
                Harvested by {{ users.count }} worker{{ users|pluralize }}.</p>
                <p>If you don't know where to start, you can read about the project itself; keyword <span style='color:red;'>ants</span>. To understand how we work together, you can jump to the <span style='color:green;'>root</span>.</p>

                <p>If you were invited to this platform and have received a key, you can enter that key directly into the hit box on the right.</p>
                </span>
                {% endif %}
                {% if request.user.is_staff %}
                <p>Projects:</p>
                <span style="padding-bottom: 20px;font-size: large;">
                  <ul class="list-group">
                    {% for project in projects %}
                        <li class="list-group-item"><a href="w/{{ project.slug }}">{{ project.slug }} - {{ project.creator.name }}</a></li>
                    {% endfor %}
                  </ul>
                </span>
              {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-3">
              <a href="/p/new" class="btn btn-outline-success">+ project</a>
            </div>
            {% endif %}
          </div>
          <!-- end row -->
          {% endblock %}
        </div>
      </div>

      
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          {% block content %}
          
          {% endblock content %}
        </div>

      </div> <!-- /container -->
      

    </main>
    {% endblock body %}

    <footer class="footer">
      <div class="container">

            <div class="row justify-content-between">
              <div class="col">
                <ul class="list-group">
                </ul>
              </div>
              <div class="col-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <span class="text-muted">&copy; Ants 2017</span>
                </div>
              </div>
            </div>
      </div>
    </footer>

    {% block script_base %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>  
    {% block extra_script %}{% endblock %}
    {% endblock %}
  </body>
</html>
