html, body{
  padding-top: 100px;
  height:100%;		/* For full height images */
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #454444;
}