{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<div class="row">
  <div class="col">
    <h1 class="display-5"><a class="btn btn-outline-success badge" href="/">Home</a>
    / {{ request.user.name }} / _new</h1>
    
  </div>
</div>
{% endblock header %} 


{% block content %}
<div class="card">
    <form id="new-form" method="post" class="form" action="{% url 'projects:new_project' %}">
      {% csrf_token %}
  <div class="card-body">
    <h4 class="card-title">New project</h4>
      {{ form }}
  </div>
  <div class="card-footer text-right">
   <input class="btn btn-success" value="Create page" type="submit">
  </div>
    </form>
</div>
{% endblock content %}