{% extends "base.html" %}
{% load staticfiles %}
{% load waliki_tags %}

{% block title %}{{ block.super }}Seed{% endblock %}

{% block header %}
<!-- Header -->
<div class="row">
  <div class="col">
    <h1 class="display-5">{{ page.title }}</h1>
    <a class="btn btn-outline-success badge" href="/">Home</a>
    / {{ page.slug }}
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="col-8">
    {{ page.body|safe }}
</div>
<div class="col-4 hidden-sm hidden-xs">
    <div data-spy="affix" data-offset-top="50">

        {% if request.user.is_authenticated %}
        <div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom: 20px;">
          <a type="button" class="btn btn-outline-success" href="{{ page.get_absolute_url }}/edit">edit</a>
          <a type="button" class="btn btn-outline-warning" href="{{ page.get_absolute_url }}">See in docs</a>
          <a type="button" class="btn btn-outline-info" href="{{ page.get_absolute_url }}/history/">history</a>
        </div>
        {% endif %}
        {% if toc %}
        <h3 class="display-5">On this page:</h3>
        {{ toc|safe }}
        {% endif %}
    </div>
</div>
{% endblock %}

