{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block extrahead %}

{% endblock extrahead %}


{% block header %}
<!-- Row -->
<div class="row">
  <div class="col-12">
    {% if pages|length > 0 %}
    <p>
      {% for page in pages %}
        {% if not "/" in page.slug %}
          {% if "root" in page.slug %}
            <a href="{{ page.slug }}" class="btn btn-success">{{ page.slug }}</a>
          {% else %}
            {% if "ants" in page.slug %}
            <a href="{{ page.slug }}" class="btn btn-danger">{{ page.slug }}</a>
            {% else %}
              {% if "computer" in page.slug %}
              <a href="{{ page.slug }}" class="btn btn-warning">{{ page.slug }}</a>
              {% else %}
              <a href="{{ page.slug }}" class="btn btn-info">{{ page.slug }}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </p>
    <br>
    {% endif %}
    {% if request.user.is_authenticated %}
    <h3>/ {{ request.user.name }} / <a href="/p/new" class="btn btn-outline-success badge">+ project</a></h3>
    {% endif %}
  </div>
</div>
<!-- end row -->
{% endblock header %}

{% block content %}
  <div class="col-9">
    {% if request.user.is_authenticated %}
      <span style="padding-bottom: 20px;font-size: large;">
      
      <div class="list-group">
        {% for project in projects %}
          {% if project.creator = request.user %}
            <a class="list-group-item list-group-item-action" href="{{ project.slug }}"> {{ project.title }} :: /{{ project.slug }}</a>
          {% endif %}
        {% endfor %}
      </div>
      </span>
      {% else %}
      <span style="font-size: large;">
      <h1 class="display-5">Hi, {% if request.user.is_authenticated %}{{ request.user.name }}{% else %}anonymous user{% endif %}.</h1>
      <p>There are currently {{ pages|length }} public, and {{ projects.count }} private page{{ projects|pluralize }}. <br>
      Harvested by {{ users.count }} worker{{ users|pluralize }}.</p>
      <p>If you don't know where to start, you can read about the project itself; keyword <span style='color:red;'>ants</span>. To understand how we work together, you can jump to the <span style='color:green;'>root</span>.</p>

      <p>If you were invited to this platform and have received a key, you can enter that key directly into the hit box on the right.</p>
      </span>
      {% endif %}
  </div>
{% endblock content %}

{% block footer %}
{% endblock %}

