{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block navbar %}
{% endblock %}

{% block styles %}
<link href="{% static 'site/css/custom.css' %}" rel="stylesheet">
{% endblock styles %}

{% block splash %}
<div class="container form-box">
  <div class="text-center">
    <h2>{% block form_heading %}{% endblock %}</h2>
  </div>
  {% block form %}
  {% endblock %}
</div>

{% endblock splash %}

{% block container %}
{% endblock container %}

{% block footer %}
{% endblock footer %}